build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test:
  - name: ecserver
    configType: custom
    customType: commands
    url: '{{.ROOST_SVC_URL}}/'
    requestType: GET
    header: ''
    body: ''
    status: '201'
    response: ''
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-09-05T03:21:12.748Z
