build:
  type: text
  content: |
    #!/bin/sh


    docker build -f ecserver/Dockerfile -t ecserver:latest ecserver 
deploy:
  type: text
  content: |-
    #/bin/sh

    docker-compose -f ../newVotingApp/docker-compose.yaml -f docker-compose.yaml up -d
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: docker-compose.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-01-16T10:44:07.793Z
