build:
  type: buildpack
  content:
    image: ecserverqwe
    tag: latest
    path: ecserver
deploy:
  type: None
  content: ''
test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
uninstall:
  type: None
  content: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-13T06:39:31.705Z
