build:
  type: buildpack
  content:
    image: ecserver
    tag: latest
    path: ecserver
deploy:
  type: None
  content: ''
test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
uninstall:
  type: None
  content: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-13T03:33:20.351Z
