build:
  type: text
  content: |-
    #!/bin/sh


    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |-
    #/bin/sh


    docker-compose -f docker-compose.yaml up -d
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: docker-compose.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-01-16T04:31:19.784Z
